* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-items: center;
}

.title,
.current-score {
  color: #3c1a5b;
}

.current-score span {
  display: none;
}

.question-card {
  margin: 0 auto;
  background-color: #3c1a5b;
  padding: 16px;
  border-radius: 16px;
  color: #fff748;
  width: 50%;
  height: auto;
  padding-bottom: 40px;
}

ul {
  list-style: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

li {
  background-color: #fff748;
  padding: 16px;
  /* border: 3px solid white; */
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  color: #3c1a5b;
}

li:hover {
  cursor: pointer;
}

.question-text {
  color: white;
  font-size: 24px;
}

.final-result {
  margin: 0 auto;

  background-color: #3c1a5b;
  padding: 16px;
  border-radius: 16px;
  color: #fff748;

  width: 30%;
  height: auto;
  /* margin-top: 64px; */
}

.final-result button {
  background-color: #fff748; /* Green */
  border: none;
  color: #3c1a5b;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
  margin-bottom: 20px;
}

.final-result button:hover {
  cursor: pointer;
}
